@model Cliente

<form id="formularioEdicao">
    <input value=@Model.ClienteId>
    <input value=@Model.Cliente1>
    <input value=@Model.TipoCliente>
    <input value=@Model.NomeContato>
    <input value=@Model.TelefoneContato>
    <input value=@Model.Cidade>
    <input value=@Model.Bairro>
    <input value=@Model.Logradouro>
    <input value=@Model.DataCadastro>
    <input value=@Model.DataAtualizacao>
</form>
